@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.644)), url("../img/image.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.showcase{
    position: absolute;
    top: 30%;
    left: 15%;
}

.header-text-box h1{
    color: white;
    letter-spacing: 0.25rem;
    word-spacing: .025rem;
    font-size: 2.5rem;
    font-weight: 400;
}

.btn{
    text-decoration: none;
    display: inline-block;
    padding: 0.7rem; 
    font-size: 1.3rem;
    font-weight: 175;
    margin: 0.7rem;
    letter-spacing: 2px;
    border-style: solid;
    border-width: thin;
    border-radius: 30px;
    /* transition: color 2s, background-color 2s, tranform 2s; */
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.one:link, .one:visited{
    color: white;
    background-color:#2ecc71;
    border-color: #2ecc71;
}

.two:link, .two:visited{
    color: #2ecc71;
    border-color: #2ecc71;
}

.one:hover, .one:active{
    background-color:#27ae60;
    /* border-color: #27ae60; */
    transform: scale(1.1);
}

.two:hover, .two:active{
    background-color:#27ae60;
    color:white;
    /* border-color: #27ae60; */
    transform: scale(1.1);
}

.menu{
    display: flex;
    justify-content: flex-end;
}

.list {
    margin: 1rem;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 3px;
}

.list:hover{
    border-bottom: solid #27ae60 2px; 
}


.features{
    text-align: center;
}

h2{
    font-size: 2rem;
    font-weight: 400;
    padding-top: 4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

h2:after{
    background-color: #2ecc71;
    display: block;
    content: " ";
    width: 8rem;
    height: 0.1rem;
    margin-left: 45%;
    margin-top: 1.5rem;
}

i{
    color: #27ae60;
    margin-bottom: 1rem;
}

.heading p{
    margin-top: 2rem;
    margin-bottom: 3rem;
}



.details{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.details h2{
    text-align: center;
    font-weight: 300;
}

.details div p{
    margin: 2rem;
    text-align: justify;
}

.app-details{
    text-align: center;
}

p{
    color: #34495e;
}

.count{
    margin-right:2rem;
    padding: 0.3rem;;
    text-align: center;
    font-size: 1.5rem;
    color: #27ae60;

    height: 3rem;
    width: 3rem;
    border: #27ae60 solid 2px;
    border-radius: 50%;
}


.after-how-work{
    display: flex;
    justify-content: flex-end;
}

.count-line{
    display: flex;
    margin: 2rem;
}

.count-line p{
    margin-top: 0.7rem;
    margin-right: 2rem;
}

.phone{
    margin-right: 10rem;
    width: 12rem;
    height: 24rem;
}

.icon{
    margin: 0.5rem;
    width: 10rem;
    height: 3rem;
}

.cities{
    display: flex;
    text-align: left;
    justify-content: flex-end;
}

.cities div{
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cities h3{
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.city{
    border-radius: 3%;
    height: 10rem;
    width: 16rem;
    margin-bottom: 1rem;
}

.icon-list{
    display: flex;
    margin-right: none;
}

.icon-list p{
    margin-left: 0.5rem;
}

.review{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgb(0, 0, 0)), url("../img/pizza.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.review h2{
    padding-top: 1.5rem; 
    color: white;
}

.reviews-list{
    display: flex;
    justify-content: flex-end;
}

.reviews-list p{
    
    font-style: italic;
    text-align: left;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 100;
}

.reviews-list div{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.reviews-list div i{
    margin-right: 14rem;
    color: white;
}

.name{
    display: flex;
    justify-content: flex-start;
}

.rname{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.plan{
    background-color: lightgray;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.plans{
    display: flex;
    justify-content: center;
}

.plans div div{
    text-align: left;
    background-color: white;
    margin-right: 1rem;
    margin-bottom: 1px;
}

.div-one{
    border-radius: 7% 7% 0% 0%;
    padding: 1rem;
    /* text-align: left; */
}
.div-two{
    padding-top: 1rem;
    padding-left: 1rem;
}
.div-three{
    border-radius:0% 0% 7% 7%;
    padding-bottom: 1rem;
    padding-left: 2rem;
}


.plan-list {
    display: flex;
    justify-content: flex-start;
    /* text-align: left; */
}

.plan-list i{
    margin-right: 5px;
}
.price{
    color: #2ecc71;
    text-align: left;
    display: inline-flex;
    justify-content: flex-start
}
.price h1{
    font-size: 2rem;
}


.ptag{
    padding-top: 1rem;
    color: #27ae60;
}

.bone:link, .bone:visited{
    color: white;
    background-color:#2ecc71;
    border-color: #2ecc71;
}

.plans h3{
    font-weight: 400;
    padding: 5px;
    margin: 2px;
}

.plans-div{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.entry{
    display: flex;
    justify-content: left;
    margin: 0 auto;
    width: 70%;
}

.entry-text{
    width: 40%;
    font-size: 1.5rem;
    text-align: left;
}

.newsletter{
    width: 29%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
}

input[type="text"], input[type = "email"], select, textarea{
    border: 1px solid gray, 1px solid gray, 1px solid lightgray, 1px solid lightgray;
    border-radius: 4%;
    width: 100%;
    padding: 2%;
    margin-bottom: 3%;
    font-size: 1.2rem;
}

textarea{
    height: 7rem;
}

.check-box-text{
    padding: 5px;
    padding-left: 10px;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
}
.check-box{
    margin:2%;
}

.foot{
    background-color: #2c3e50;
}
.footer-note{
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.foot ul{
    list-style-type: none; 
    display: flex;
}
.foot a{
    padding-right: 1rem;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
}

.foot-option{
    margin-right: 40%;
}

.foot-option li{
    margin: 7px;  
}

.social-links i{  
    margin-left: 5px;
    color: whitesmoke;
}

.copy p{
    text-align: center;
    color: gray;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-bottom: 2rem; 
}

.footer-note li{
    transition: transform 0.2s;  
}

.footer-note li:hover{
    transform: scale(1.2);
}
/* *{
    border: #34495e solid 2px;
} */